.button {
    padding: 12px 32px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

/* Вариант кнопки*/
.button--primary {
    background-color: #10B981;
    color: #fff;
}

.button--outline {
    background-color: #fff;
    border: #E5E7EB 1px solid;
    color: #111827;
}

.button--ghost {
    background-color: transparent;
    color: #10B981;
}

.button--danger {
    background-color: #fff;
    border: #EF4444 2px solid;
    color: #EF4444;
}

/* Форма кнопки */
.button--rounded {
    border-radius: 8px;
}

.button--circle {
    border-radius: 100%;
    padding: 8px;
}

/* Толщина шрифта */
.button--normal {
    font-weight: normal;
}

.button--bold {
    font-weight: bold;
}

.button--fullWidth {
    width: 100%;
}

/* Иконки */
.button__icon {
    display: flex;
    align-items: center;
}

.button__left {
    margin-right: 8px;
}

.button__right {
    margin-left: 8px;
}

.button__label {
    display: flex;
}